<table>
	<tr>
		<th>Sno.</th>
		<th>Email</th>
		<th>Counts</th>
		<th>Date</th>
	</tr>

	<% @invites_for_xls.each_with_index do |invite,index| %>
	<tr>
		<td><%= index+1 %></td>
		<td><%= invite.email %></td>
		<td><%= invite.invites_count %></td>
		<td><%= invite.created_at.strftime("%m/%d/%Y") %></td>
	</tr>
	<% end %>
</table>
