<table style="width: 600px;margin: 10px auto;padding: 0;border: none;border-spacing: 0;border-collapse: collapse;font-family:'Helvetica', 'arial', sans-serif;font-size:18px; color: #333;font-weight:300;" align="center">
	<tbody>
		<tr>
			<td style="background:#fff;border:1px solid #f5f5f5;border-bottom: 2px solid #c03;padding: 30px 20px;margin: 0;font-size: 24px;font-weight: 700;">
				<%= link_to root_path do %>
					<img src="http://launch.deskgator.com/assets/emailogo.png" width="210" height="50" alt="Launch Gator Logo">
				<% end %>
			</td>
		</tr>
		<tr>
			<td style="background:#fafafa;padding: 20px;margin: 0;border:1px solid #f5f5f5;">
				<h1 style="font-size: 18px;">Hi <%= @recipient.full_name %></h1>
				<p style="font-size: 16px;color: #444;line-height:24px;font-weight: 300;">Somebody requested to reset your password on LaunchGator. If it was you use the link below.</p>
				<%= url_for(password_url(:code=>@recipient.forgot_password_code)), style: 'display: inline-block;padding: 10px 15px; background: #c03;text-decoration:none' %>
				<p style="font-size: 16px;color: #444;line-height:24px;font-weight: 300;">If you've received this mail in error, it's likely that another user entered your email address by mistake while trying to reset a password. If you didn't initiate the request, you don't need to take any further action and can safely disregard this email.</p>
				<p style="font-size: 16px;color: #444;font-weight: 300;"><strong>Cheers!</strong><br>
					LaunchGator Team
				</p>
			</td>
		</tr>
		<tr>
			<td style="background:#f5f5f5;border: none;padding: 15px;margin: 0;border:1px solid #eee;">
				<p style="font-size: 12px;color: #666;font-weight: 300;"><strong>LaunchGator</strong> has sent this e-mail to you because it was necessary or you opted for this. If you dont want to receive these emails please let us know.</p>
			</td>
		</tr>
	</tbody>
</table>		