<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #f1f1f1;font-family: Arial, Helvetica, sans-serif">
  <tr>
    <th style="border-bottom:1px solid #ccc;border-right:1px solid #F1F1F1;width: 250px;height: 100px;" align="center"><img src="http://launch.deskgator.com/images/emailogo.png" width="210" height="50" alt="Launch Gator Logo"></th>
    <th colspan="2"height="100" scope="col" style="border-bottom:1px solid #ccc;color:#666;">Create awesome launch pages!</th>
  
  </tr>
  <tr>
    <td colspan="2" style="padding:20px">
    <p style="font-size:14px">Hi <%= @recipient.full_name %>,
      <br/>
      <br/><br/>
      To reset the password for <%= @recipient.email %>, click the link below:<br/><br/>
      <%= url_for(password_url(:code=>@recipient.forgot_password_code)) %>
      <br/><br/>
      If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.
      <br/><br/>
      If you've received this mail in error, it's likely that another user entered your email address by mistake while trying to reset a password. If you didn't initiate the request, you don't need to take any further action and can safely disregard this email.
      <br/>
      <br/>
      <br/>
      Cheers!!
      <br/>
      LaunchGator Team
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:20px;border-top:1px solid #ccc;font-size:12px;">
	<strong>P.S.</strong> - Please mark this email as not spam (unless our magic worked and it landed in your inbox) and add us to your contacts.</td>
  </tr>
</table>
</body>
