<body>
<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px solid #f1f1f1;font-family: Arial, Helvetica, sans-serif">
  <tr>
    <th style="border-bottom:1px solid #ccc;border-right:1px solid #F1F1F1;width: 250px;height: 100px;" align="center"><img src="http://launch.deskgator.com/images/emailogo.png" width="210" height="50" alt="Launch Gator Logo"></th>
    <th colspan="2"height="100" scope="col" style="border-bottom:1px solid #ccc;color:#666;">Create awesome launch pages!</th>
    
  </tr>
  <tr>
    <td colspan="2" style="padding:20px">
    <p style="font-size:14px">Hi <%= @recipient.full_name %>,
      <br/>
      <br/>
      Welcome to LaunchGator. Your account has been created.<br/><br/>
      Please go to <a href="http://launch.deskgator.com">launch.deskgator.com</a> to create a coming soon page for your startup or idea.
      <br/>
      <br/>
      <br/>
      Cheers!!
      <br/>
      LaunchGator Team
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding:20px;border-top:1px solid #ccc;font-size:12px;">
	<strong>P.S.</strong> - Please mark this email as not spam (unless our magic worked and it landed in your inbox) and add us to your contacts.</td>
  </tr>
</table>
</body>