<script type="text/javascript">
	$(function(){
		$('.footwrap').css({'position':'relative','top':'0px'});
	});
</script>

<h1>ABOUT US</h1>
<div class="fullpage">
	<em class="special">Hello we are Fizzy Software and we build Intelligent Applications. We focus on design, analytics and feedback to build fun and engaging products.</em>
		
		<h5>History</h5>
		<p>Founded in June 2007, Fizzy Software is based in Gurgaon, India. We have worked on projects ranging from Facebook apps, mobile games and apps, SaaS applications, e-commerce stores, corporate websites and other hand-crafted solutions.</p>
		
		<h5>Technical Team</h5>
		<p>We have an easy-to-deal-with, technical team which is passionate about solving customer’s problems. We specialize in transforming hassles, frustrations and looming deadlines to quality built incredible applications. Our focus on usability ensures that the interface is simple and intuitive.</p>
		
		<h5>Product Team</h5>
		<p>Our product team has the experience of working with top gaming, analytical and consulting companies including Zynga, IBM and Accenture. This mix ensures that we deliver the best possible solutions which have a direct and measurable impact on the business and help move things forward.</p>
		
		<h5>Client Focused</h5>
		<p>Our clients are customer-focused, Internet businesses who want to be successful. We work with entrepreneurs, existing web-based businesses and developers looking for some coding and designing grunt to flesh out their requirement. Clients always have access to the latest build of the app and can track visible progress on daily/weekly basis rather than having to wait months. We also use the phone, Skype, email, Google Docs, IM and letters to ensure that you are always kept in the loop no matter where you are.</p>
		
		<h5>Our Value Proposition</h5>
		<p>We collaborate with clients to ensure a unique experience to enhance their presence by focusing on design, analytics and feedback.</p>
</div>