<script type="text/javascript">
	$(function(){
		$('.footwrap').css({'position':'relative','top':'0px'});
	});
</script>


<h1>TERMS OF USE</h1>
<div class="fullpage">
	<h5>Conditions</h5>
		<p>Welcome to Uptime Monitor by Fizzy Software.com! Fizzy Software and its associates provide their services to you subject to the following conditions. If you visit or shop within this website, you accept these conditions. Please read them carefully.</p>
		
		<h5>Privacy</h5>
		<p>Please review our Privacy Notice, which also governs your visit to our website, to understand our practices.</p>
		
		<h5>Electronic Communications</h5>
		<p>When you visit Fizzy Software or send e-mails to us, you are communicating with us electronically. You consent to receive communications from us electronically. We will communicate with you by e-mail or by posting notices on this site. You agree that all agreements, notices, disclosures and other communications that we provide to you electronically satisfy any legal requirement that such communications be in writing.</p>
		
		<h5>Copyright</h5>
		<p>All content included on this site, such as text, graphics, logos, button icons, images, audio clips, digital downloads, data compilations, and software, is the property of Fizzy Software or its content suppliers and protected by international copyright laws. The compilation of all content on this site is the exclusive property of Fizzy Software, with copyright authorship for this collection by Fizzy Software, and protected by international copyright laws.</p>
		
		<h5>Trade Marks</h5>
		<p>Fizzy Softwares trademarks and trade dress may not be used in connection with any product or service that is not Fizzy Softwares, in any manner that is likely to cause confusion among customers, or in any manner that disparages or discredits Fizzy Software. All other trademarks not owned by Fizzy Software or its subsidiaries that appear on this site are the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Fizzy Software or its subsidiaries.</p>
		
		<h5>License and Site Access</h5>
		<p>Fizzy Software grants you a limited license to access and make personal use of this site and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of Fizzy Software. This license does not include any resale or commercial use of this site or its contents: any collection and use of any product listings, descriptions, or prices: any derivative use of this site or its contents: any downloading or copying of account information for the benefit of another merchant: or any use of data mining, robots, or similar data gathering and extraction tools. This site or any portion of this site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of Fizzy Software. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of Fizzy Software and our associates without express written consent. You may not use any meta tags or any other "hidden text" utilizing Fizzy Softwares name or trademarks without the express written consent of Fizzy Software. Any unauthorized use terminates the permission or license granted by Fizzy Software. You may not use any Fizzy Software logo or other proprietary graphic or trademark as part of the link without express written permission.</p>
		
		<h5>Your Membership Account</h5>
		<p>If you use this site, you are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer, and you agree to accept responsibility for all activities that occur under your account or password.</p>
		
		<h5>Reviews and Other Content</h5>
		<p>Visitors may post reviews, comments, and other content: and submit suggestions, ideas, comments, questions, or other information, so long as the content is not illegal, obscene, threatening, defamatory, invasive of privacy, infringing of intellectual property rights, or otherwise injurious to third parties or objectionable and does not consist of or contain software viruses, political campaigning, commercial solicitation, chain letters, mass mailings, or any form of "spam." You may not use a false e-mail address, impersonate any person or entity, or otherwise mislead as to the origin of a card or other content. Fizzy Software reserves the right (but not the obligation) to remove or edit such content, but does not regularly review posted content.</p>
		
		<p>If you do post content or submit material, and unless we indicate otherwise, you grant Fizzy Software and its associates a nonexclusive, royalty-free, perpetual, irrevocable, and fully sublicensable right to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, and display such content throughout the world in any media. You grant Fizzy Software and its associates and sublicensees the right to use the name that you submit in connection with such content, if they choose. You represent and warrant that you own or otherwise control all of the rights to the content that you post: that the content is accurate: that use of the content you supply does not violate this policy and will not cause injury to any person or entity: and that you will indemnify Fizzy Software or its associates for all claims resulting from content you supply. Fizzy Software has the right but not the obligation to monitor and edit or remove any activity or content. Fizzy Software takes no responsibility and assumes no liability for any content posted by you or any third party.</p>
		
		<h5>Questions</h5>
		<p>Questions regarding our Conditions of Usage, Privacy Policy, or other policy related material can be directed to our support staff by clicking on the "Contact Us" link in the side menu. Or you can email us at: support@fizzysoftware.com</p>
</div>