/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clearfix{
	clear:both;
	float:none;
}
a{
text-decoration:none;
}
/* wrap Styles */
.headwrap{
	background: #222;
	border-bottom:3px solid #000;
	height:60px;
	z-index:99;
}
.slidewrap{
	border-bottom:1px solid #999;
	border-top:1px solid #fff;
	height:500px;
}
.contwrap{
	border-bottom:1px solid #999;
	border-top:1px solid #fff;
	background-repeat: repeat;
	background:url(/assets/subtle.png) repeat;
	padding:20px 0px;
}

/* User Styles */
body{
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	color:#333;
	font-smoothing : antialiased;
	-webkit-font-smoothing : antialiased;
	-moz-font-smoothing : antialiased;
}
em.special{
	font-style: italic;
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	color: #666;
	display: block;
	font-family: georgia;
}
.head, .slider, .content, .footer{
	width: 960px;
	margin: 0 auto;
	position:relative;
}
/* Header Styles */
.head{
	position:relative;
}
.headescription {
	font-size: 12px;
	position: absolute;
	top: 47px;
	right: 0px;
	font-weight:bold;
	color:#666;
}
.logo {
	display: block;
	position: absolute;
	top: 7px;
	left: -7px;
}
/* Navigation */
ul.mainnav{
	position:absolute;
	list-style-type:none;
	margin:0;
	padding:0;
	right:0px;
	top:13px;
}
h1.phone{
	position: absolute;
	top: -5px;
	right: 0px;
	color: #dfdfdf;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid #000;
	padding: 10px 10px 10px 10px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-shadow: 1px 1px 1px #000;
	background: #ff3019;
	background: -moz-linear-gradient(top,  #ff3019 0%, #cf0404 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404));
	background: -webkit-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -o-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: -ms-linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	background: linear-gradient(top,  #ff3019 0%,#cf0404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 );
	
}
h1.phone strong{
	font-weight: 700;
}

ul.mainnav li{
	float:left;
	display:block;
	margin:0 0 0 5px;
	padding:0;
}
.sites_invite{
	width: 800px!important;
}
.sites_invite h1{
	width: 880px!important;
}
ul.mainnav li a{
	float:left;
	display:block;
	margin:0;
	padding:10px 10px;
	border:1px solid transparent;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#fff;
	font-weight:700;
	text-transform:uppercase;
	text-shadow:0px 0px 3px #000;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
ul.mainnav li a:hover{
	background-color:rgba(0,0,0,.5);
	border:1px solid #000;
	}
ul.mainnav li a.signupbtn{
	background:#9C0;
	border-color:#063;
	text-shadow:0px 0px 3px #000;
}
ul.mainnav li a.signupbtn:hover{
	background:#693;
	border:1px solid #030;
	}
	
/* Content */
.content {
	min-height:500px;
}
.content > h1{
	text-align:center;
	font-weight:700;
	font-size:32px;
	padding-bottom:60px;
	color:#606;
	background:url(/assets/divider.png) no-repeat bottom center;
	margin-top:50px;
	margin-bottom:20px;
}
.content .lefthighlight, .content .righthighlight{
	height:100px;
	margin-bottom:60px;
	clear: both;
}
.content .lefthighlight img{
	display:block;
	float:left;
	margin-right:20px;
	width:280px;
	height:100px;
	border:5px solid #fff;
	box-shadow:0px 0px 3px #999;
}
.content .righthighlight img{
	display:block;
	float:right;
	margin-left:20px;
	width:280px;
	height:100px;
	border:5px solid #fff;
	box-shadow:0px 0px 3px #999;
}
.content .lefthighlight h1, .content .righthighlight h1{
	font-size:22px;
	font-weight:700;
	text-transform:uppercase;
	line-height:40px;
}
.content .lefthighlight p, .content .righthighlight p{
	font-size:16px;
	line-height:24px;
	color: #666;
}
.content .callsignup{
	border-bottom:1px solid #fff;
	border-top:1px solid #ccc;
	position:relative;
	margin-bottom:40px;
}
.content .callsignup h1{
	border-top:1px solid #fff;
	border-bottom:1px solid #ccc;
	text-transform:uppercase;
	font-size:20px;
	line-height:60px;
	font-weight:700;
	padding-left:20px;
}
a.signupnow{
	font-size:22px;
	display:block;
	float:left;
	padding:10px 20px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	color:#fff!important;
	font-weight:700;
	text-transform:uppercase;
	background:#9C0;
	border:1px solid #063;
	text-shadow:1px 1px 0px #000;
	position:absolute;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
a:hover.signupnow{
	background:#693;
	border-color:#030;
	text-shadow:1px 1px 0px #000;
}
.callplacer{
	right:20px;
	top:10px;
}

/* Links */
a:link, a:active, a:visited{
	color: #666;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
}
a:hover{
	color: #333;
}
/* Footer */
.footwrap{
	padding:30px 0px 40px;
	box-shadow:inset 0px 1px 2px #000;
	height:120px;
	width: 100%;
	background-image: url(/assets/denim.png);
	background-repeat: repeat-x;
}
.footer{
	width:960px;
	position:relative;
	padding-bottom: 10px;
	margin:0 auto;
}
.footnav{
	float:left;
	margin-right:40px;
}
.footnav h1{
	font-size:14px;
	font-weight:700;
	color:#666;
	border-bottom:1px solid #222;
	line-height:30px;
}
.footnav ul{
	padding-top:5px;
	font-size:12px;
	color:#999;
	border-top:1px solid #444;
	line-height:18px;
	list-style-type:none;
}
.footnav ul li a, .footer p a{
	color:#666;
	font-weight:normal;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
}
.footer p{
	padding-top: 10px;
	color: #999;
	font-size: 12px;
}
.footnav ul li a:hover,  .footer p a:hover{
	color:#999;
}
.company{
	position: absolute;
	top: -15px;
	right: 0px;
}
.company img{
	float:right;
	height: 90px;
	margin-right: -25px;
}

/*Notification Styles*/

.field_with_errors{
	display:inline-block;
}
#error_explanation {
    background-color:  #FACE75;
    margin:0 auto 20px;
    padding: 20px 10px;
    width:auto;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    }
#error_explanation h2 {
    color: #333!important;
    font-size: 16px!important;
    font-weight: 700;
    margin: -7px -7px 0;
    padding: 5px 5px 10px 15px;
    line-height: 20px;
    }

#error_explanation ul {
    padding: 0 0 0 10px;
    }

#error_explanation ul li {
    font-size: 12px;
    line-height: 25px;
    padding-left: 25px;
    border-top: 1px solid  #FCB22E;
    background: url('/assets/error.png') no-repeat left center;
     color: #333!important;
    }
#error_explanation ul li:last-of-type{
 	border-bottom: 1px solid  #FCB22E;
 }
/*Top Notifications*/
#notice {
	position:fixed;
	left:0;
	top:0;
	box-shadow:0px 2px 5px #666;
    color: #000;
    text-shadow: 1px 1px 0px #fff;
	font-size:16px;
	text-align: center;
    width:100%;
	line-height:50px;
	z-index:999999 !important;
	background: #b6e026;
	background: -moz-linear-gradient(top,  #b6e026 0%, #abdc28 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e026), color-stop(100%,#abdc28));
	background: -webkit-linear-gradient(top,  #b6e026 0%,#abdc28 100%);
	background: -o-linear-gradient(top,  #b6e026 0%,#abdc28 100%);
	background: -ms-linear-gradient(top,  #b6e026 0%,#abdc28 100%);
	background: linear-gradient(top,  #b6e026 0%,#abdc28 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e026', endColorstr='#abdc28',GradientType=0 );
	
    }
#resend_activation_mail{
	position:fixed;
	left:0;
	bottom:0;
	box-shadow:0px 0px 3px #666;
	color: #000;
	text-shadow: 1px 1px 0px #fff;
	font-size:14px;
	text-align: center;
	width:100%;
	line-height:30px;
	z-index:999999 !important;
	background: #ffd65e;
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04));
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
}    
#error {
	position:fixed;
	left:0;
	top:0;
	box-shadow:0px 2px 5px #666;
	color: #000;
	text-shadow: 1px 1px 0px #fff;
	font-size:16px;
	text-align: center;
	width:100%;
	line-height:50px;
	z-index:999999 !important;
	background: #ffd65e;
	background: -moz-linear-gradient(top,  #ffd65e 0%, #febf04 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffd65e), color-stop(100%,#febf04));
	background: -webkit-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -o-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: -ms-linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	background: linear-gradient(top,  #ffd65e 0%,#febf04 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 );
}
#error a:link, #error a:active,#error a:visited{
	color: #f1f1f1!important;
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
}
#error a:hover{
	color: #fff!important;
}

/*Launch Gator Styles*/

h1,h2,h3,h4,h5,h6,h6{
	margin:0px;
	font-weight:normal;
}
p{
	margin-bottom:5px;
	line-height:18px;
	color: #fff;
}
p b, p strong{
	font-weight: bold;
}
table{
	border-collapse:collapse;
}

.flt{
	float:left;
}
.frt{
	float:right;
}
a{
	text-decoration:none;	
}
a img{
	border:0px;
}
#signup
{
	position:fixed;
	top: -1px;
	right: 200px;
	padding: 2px 15px;
	line-height: 40px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background: rgba(0,0,0,.5);
	box-shadow: 0px 0px 2px #666;
	
}
#signup a:first-of-type{
	border-right: 1px solid #333;
}
#signup a:first-of-type{
	margin-right: 10px;
	padding-right: 10px;
}

/* Main Styles */

#wrapper{
	width:350px;
	margin: 50px auto;
	background: #222;
	padding:40px;
	position: relative;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#wrapper h1{
	font-size:20px;
	color:#e6e6e6;
	text-align:center;
	margin: 0px 0px 20px;
	width: 430px;
	margin-left: -40px;
	padding: 20px 0px;
	background: #f5f5f5 url('/assets/headback.png');
	box-shadow: inset 0px 0px 10px #000;
}
#wrapper h1.patternhead{
	font-size:38px;
	color:#e6e6e6;
	text-align:center;
	margin: 0px 0px 20px;
	font-weight: 700;
	width: 350px;
	padding: 10px 0px;
	background: none!important;
	box-shadow: none!important;
}
#wrapper h1.patternhead{
	background: none!important;
	box-shadow: none!important;
}
#wrapper h3{
	font-size:16px;
	color:#e6e6e6;
	margin: 0px 0px 20px;
	padding: 10px 0px;
	background: #666;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	box-shadow: 0px 0px 5px #000;
	text-indent: 20px;
}
.launching{
	font-size: 22px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}
.orange{
	color:#c03 ;
}
#wrapper h2{
	font-size:20px;
	color:#e6e6e6;
}
#wrapper h5{
	font-size:20px;
	color:#e6e6e6;
	margin-top: 20px;
	margin-bottom: 5px;
	color: #c03;
}
#wrapper a{
	color:#c03;
}
#wrapper a:hover{
	color: #f06;
}
#wrapper a.more{
	color:#e14b09;
	background:url(/assets/arrow.png) no-repeat right;
	padding:0px 15px 0px 0px;
}
#wrapper input.txt{
	background:url(/assets/txt_big.png) no-repeat left top;
	width:350px;
	height:66px;
	font-size:24px;
	color:#7b7b7b;
	border:0px;
	margin:0px;
	padding:15px 20px;
}
#wrapper input.btn{
	background:url(/assets/submit.png) no-repeat center top;
	width:193px;
	height:36px;
	border:0px;
	margin:0px;
	cursor:pointer;
}
.sharing_description{
	line-height: 20px;
	font-size: 14px;
	text-align: center;
}
#wrapper input[type="text"], #wrapper input[type="password"],
#site_wrapper input[type="text"], #site_wrapper input[type="password"]{
	width:330px;
	font-size:14px;
	outline: none;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;	
	color:#7b7b7b;
	border:0px;	
	padding:10px 10px 10px 10px;
	margin:5px 0px;
}
#wrapper input, #wrapper2 select, #wrapper2 textarea{
	margin:5px 0px;
}

#wrapper input.txt_small, #wrapper select{
	
}
#wrapper textarea{
	width:330px;
	min-width:330px;
	max-width:330px;
	font-size:14px;
	height:100px;
	min-height:100px;	
	-moz-border-radius:5px 5px 5px 5px;
	-webkit-border-radius: 5px;	
	color:#7b7b7b;
	border:0px;	
	padding:10px 10px 10px 10px;
}

.sitelist{
	float:left;
	width:750px;
}
.sitelist a{
	color:#00deff;
}
.sitelist ul{
	margin:0px;
	padding:0px;
	list-style:none;
	width:750px;
	
}
.sitelist ul li{
	background:url(/assets/list_bg.png) repeat-x;
	line-height:45px;
	float:left;
	padding:0px 5px;
	width:740px;
}
.sitelist ul li:hover{
	background:#bff7ff;
	cursor:pointer;
}
.sitelist ul li a{
	color:#000000;
	font-size:1em;
	padding:0px 10px;
}
.sitelist table{
	font-size:1em;
}
.sitelist table th{
	padding:8px;
	color:#333333;
	font-size:1.2em;
	text-align:left;
	background:url(/assets/list_bg1.png) repeat-x;
}
.sitelist table td{
	padding:8px;
	color:#333333;
}

.sitelist table td.row1{
	background:url(/assets/list_bg.png) repeat-x;
}
.sitelist table td.row2{
	background:url(/assets/list_bg.png) repeat-x;
}
#footer {
    margin: 15px 0;
}
#footer p {
    font-size: 12px;
    margin: 0 0 4px;
}
#footer p a {
    text-decoration: none;
}

.hide
{
	display:none;
}
.hint
{
    display: block;
    font-size: 10px;
}

.hint_1
{
    display: block;
    font-size: 10px;
	width:350px;
	color: #666;
	margin-bottom:15px;	
}
#unique_code
{
	text-align:center;
	margin-top:35px;
}
/* Form Styles*/
.greenbutton{
	color: #ffffff !important;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
	font-size:18px;		
	padding: 10px 15px;
	text-shadow: 1px 1px 0px #333;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border: none;
	vertical-align:middle;
	margin-top: 3px;
	background: #9c0; /* Old browsers */	
}
.greenbutton:hover{
	color: #dfdfdf;
	cursor:pointer;
	text-shadow: 1px 1px 0px #000;
	background: #693; /* Old browsers */
}
.background_fields, .logo_image{
	margin-top: 10px;
	margin-left: -1px;
}
.background_fields .hint_1, .logo_image .hint_1{
	margin-left: 2px;
	margin-top: -3px;
}
#invite_email{
		width: 265px!important;
		font-size:14px;
		outline: none;	
		border-radius:5px;
		-webkit-border-radius:5px;
		-moz-border-radius:5px;	
		color:#7b7b7b;
		border:0px;
		margin:5px 0px!important;
}
.topmarginfix{
	margin-top: -2px!important;
}
.header_text
{
	color:#A0A0A0;
	text-align: center;
}
#error_message
{
	padding: 10px;
	background: #900;
	color:#fff;
	margin: 10px 0px 0px;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}
#unique_code
{
	margin-top:50px;
}
#social_networks
{
	margin-top:-40px;
}
#hor-minimalist-b
{
	font-size: 12px;
	width: 100%;
	border-collapse: separate;
	text-align: left;
	border-bottom: 1px solid #333;
}
#hor-minimalist-b th
{
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	padding: 10px 8px;
	background: rgba(0,0,0,.2);
	border-bottom: 1px solid #111!important;
}
#hor-minimalist-b td
{
	border-bottom: 1px solid #111!important;
	border-top: 1px solid #333!important;
	color: #fff;
	text-align:center;
	padding: 6px 8px;
}
label
{
	color:#dfdfdf;
	font-size: 14px;
	display:block;
	margin: 10px 0px 5px;
}

.pagination { padding: 3px; margin-top: 30px; }
.pagination a { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #BDBDBF; text-decoration: none; color: #6A6A6F; }
.pagination a:hover,
.pagination a:active { border: 1px solid #969699; color: #000; }
.pagination span.current { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #000099; font-weight: bold; background-color: #000099; color: #FFF; }
.pagination span.disabled { padding: 2px 5px 2px 5px; margin: 2px; border: 1px solid #eee; color: #ddd; }


/*Site Design elements*/

.tagline{
	text-align: center!important;
	font-size: 18px;
	font-style: italic;
	font-family: georgia;
	font-weight: normal;
	color: #999;
	line-height: 25px;
}
.punchline{
	text-align: center;
	margin: 25px 0px 5px;
	font-size: 13px;
	font-weight: normal;
}
.stats{
	background: #222;
	box-shadow: inset 0px 0px 10px #000;
	padding: 10px 0px 10px 100px;
	position: relative;
	width: 150px;
	margin: 0 auto;
}
.stats strong{
	float: left;
	background: #333;
	display: inline-block;
	padding: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
}

.topleft{
	position: fixed!important;
	top: 10%!important;
	left: 10%!important;
	margin: 0!important;
}

.topright{
	position: fixed!important;
	top: 10%!important;
	right: 10%!important;
	margin: 0!important;
}
.bottomleft{
	position: fixed!important;
	bottom: 10%!important;
	left: 10%!important;
	margin: 0!important;
}
.bottomright{
	position: fixed!important;
	bottom: 10%!important;
	right: 10%!important;
	margin: 0!important;
}
.total_black{
	background : rgba(0,0,0,1)!important;
}
.transparent_black{
	background : rgba(0,0,0,.5)!important;
}
.total_transparent{
	background : rgba(0,0,0,0)!important;
	border:none!important;
	box-shadow:none!important;
}
.tranparent_white{
	background : rgba(255,255,255,.5)!important;
}
.total_white{
	background : rgba(255,255,255,1)!important;
}



.recbutton, .reccollapse{
	display: inline-block;
	font-size:13px;
	font-weight: bold;
	position:absolute;
	background: #333;
	color: #fff;
	padding: 5px 10px;
	right: 7px;
	top: 6px;
	border: 1px solid #000;
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	text-indent: 0px;
}
.recbutton:hover, .reccollapse:hover{
	background: #222;
	cursor:pointer;
}
.sitelabel{
	background: #c03;
	font-weight: bold;
	padding: 3px 5px;
	font-size: 10px;
	color: #333;
	text-shadow: 1px 1px 0px #ff6522;
}
.largeheader{
	font-size: 32px!important;
}
div#wrapper.total_transparent h1{
	background: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
	box-shadow: none!important;
}
div#wrapper.transparent_black h1{
	background: none!important;
}
div#wrapper.tranparent_white h1{
	background: rgba(255,255,255,.5)!important;
	-webkit-box-shadow: inset 0px 0px 10px #fff;
	-moz-box-shadow: inset 0px 0px 10px #fff;
	box-shadow: inset 0px 0px 10px #fff;
}
div#wrapper.tranparent_white p.tagline, div#wrapper.tranparent_white p.punchline{
	color: #000!important;
	text-shadow: 1px 1px 0px #bbb!important;
}
div#wrapper.total_white h1{
	background: #f1f1f1!important;
	-webkit-box-shadow: inset 0px 0px 10px #eee;
	-moz-box-shadow: inset 0px 0px 10px #eee;
	box-shadow: inset 0px 0px 10px #eee;
}
div#wrapper.total_white p.tagline, div#wrapper.total_white p.punchline,  div#wrapper.total_white span{
	color: #000!important;
	text-shadow: none!important;
}
div#wrapper.total_white input[type="text"], div#wrapper.total_white input[type="password"]{
	-webkit-box-shadow: inset 0px 0px 3px #999;
	-moz-box-shadow: inset 0px 0px 3px #999;
	box-shadow: inset 0px 0px 3px #999;
}

#site_wrapper{
	width:350px;
	position: absolute;
	top: 100px;
	right: 20%;
	background: #222;
	padding:40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
#site_wrapper{
	cursor: move;
}
.site_description{
	font-size: 13px;
	line-height: 18px;
	text-align: center;
	font-weight: 400;
}
#site_wrapper h1{
	font-size:28px;
	font-weight: 700;
	text-align:center;
	width: 430px;
	margin-left: -40px;
	padding: 20px 0px;
}
#site_wrapper h3{
	font-size:16px;
	color:#e6e6e6;
	margin: 0px 0px 20px;
	padding: 10px 0px;
	background: #666;
	border-radius:5px;
	box-shadow: 0px 0px 5px #000;
	text-indent: 20px;
}
.statslist{
	font-size: 18px;
	font-weight:400;
	color: #fff;
	text-align: left;
	text-shadow: 1px 1px 0px #000;
}
.stat{
	font-weight: 700;
}
.divider{
	border-top: 1px solid #111;
	border-bottom: 1px solid #333;
	margin: 15px 0px;
}
.exportbtn{
	position: absolute;
	top: 25px;
	right: 40px;
	padding: 10px;
	background: rgba(0,0,0,.1);
	font-size: 12px;
	font-weight: 700;
	box-shadow: inset 0px 0px 3px #000;
	-moz-box-shadow: inset 0px 0px 3px #000;
	-webkit-box-shadow: inset 0px 0px 3px #000;
}
.exportbtn:hover{
	background: rgba(0,0,0,.5);
}
#site_builder{
	width: 600px;
	overflow: hidden;
	position: absolute;
	top: 100px;
	left: 50px;
	background: #f1f1f1;
	box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,.3);
}
#tabs{
	width:600px;
}
#site_builder:hover{
	cursor: move;
}
.ui-tabs{
		padding: 0!important;
}
#site_builder h1{
	background: #333;
	line-height: 40px;
	color: #fff;
	padding-left: 25px;
	font-weight: 700;
	position: relative;
}
#site_builder h1 span#close_modal{
	position: absolute;
	display: block;
	width: 25px;
	height:25px;
	line-height: 20px;
	text-align: center;
	top: 6px;
	right: 6px;
	font-size: 24px;
	font-weight: 300;
	border: 1px solid #999;
	
}
#site_builder h1 span#close_modal:hover{
	border-color: #666;
	color: #eee;
	background: #111;
	cursor: pointer;
}
#tabs .ui-tabs-nav{
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 3px;
	border-bottom: 1px solid #999;
}
#tabs .ui-state-active, #tabs .ui-state-default:hover{
	border-bottom: 3px solid #333;
	background: #fff;
	box-shadow: 0px 0px 3px #ccc;
	-webkit-box-shadow: 0px 0px 3px #ccc;
	-moz-box-shadow: 0px 0px 3px #ccc;
}
#tabs .ui-state-active a{
	color: #333;
}
#tabs label{
	font-size: 14px;
	font-weight: 700;
	color: #555;
	text-shadow: 1px 1px 0px #fff;
}
#tabs input[type="text"], #tabs input[type="text"]:active, #tabs textarea,  #tabs textarea:active, #tabs select{
	border: 1px solid #ccc;
	padding: 7px 10px;
	font-size: 14px;
	width: 535px;
	outline: none;
	color: #666;
	font-weight:300;
	resize: none;
	font-family:'Open Sans', Helvetica, Arial, sans-serif;
	line-height: 18px;
}
#tabs select{
	width: 558px;
}
#tabs input[type="text"]:focus, #tabs textarea:focus{
	border: 1px solid #999;
}
#tabs input[type="file"]{
	color: #666;
}
#tabs textarea{
	height: 100px;
}
#tabs-5 p{
	color: #555;
	font-size: 12px;
	line-height: 18px;
}
#tabs-5 p a{
	font-weight: 700;
	color: #c03;
}
#tabs-5 p a:hover{
	font-weight: 700;
	color: #f06;
}
.submitsite{
	margin: 0px 0px 20px 20px;
}
.home_email{
	width:260px!important;
	padding: 12px!important;	
}
.radiolabels{
	display: inline-block;
	font-weight: 400!important;
	margin: 0;
}
/* Content */
.features {
	width: 920px!important;
	margin: 200px auto 40px;
	min-height:500px;
	background: #222;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding: 30px;
	display: none;
	overflow: hidden;
}
.features > h1{
	text-align:center;
	font-weight:300;
	font-size:42px;
	padding:20px 0px;
	color:#eee;
	text-transform: capitalize;
	margin:0px -30px 20px -33px;
	text-shadow: 2px 2px 0px #000;
	background: #f5f5f5 url('/assets/headback.png');
	box-shadow: inset 0px 0px 10px #000;
}
.features .highlight{
	height:200px;
	margin-bottom:20px;
	clear: both;
}
.features .highlight img{
	display:inline-block;
	margin-right:40px;
	width:200px;
	height:200px;
	vertical-align: middle;
}
.highlight_content{
	display: inline-block;
	width: 670px;
	vertical-align: middle;
}
.features .highlight h1{
	font-size:30px;
	font-weight:300;
	line-height:60px;
	color: #c03;
	text-shadow:1px 1px 0px #000
}
.features .highlight p{
	font-size:16px;
	line-height:26px;
	color: #ccc;
}