<p>You need to follow the following simple steps to get your site up and running.<br/>
	Set Up Your A Records
	<br/><br/>
	Below are instructions for updating the A record for your domain.
	<br/><br/>
	Go to your registrar (or hosting provider if you have changed the nameservers to them), find your DNS settings and follow the instructions to point the A record (IP address) for your domain to the following IP address hosted by <b>LaunchGator: 97.107.138.139.</b><br/>
	NOTE: You need to change your domain’s (or sub-domain’s) A record, not its nameservers. And, you don’t need to forward or redirect anything, you only need to change the A Record.<br/>
	Verify that your domain name is pointing to <a href="http://launch.deskgator.com">launch.deskgator.com</a> by typing it into your browser. Once the changes have propagated, it will redirect you to <a href="http://launch.deskgator.com">launch.deskgator.com</a> if the site has not been activated yet. If the site has been activated, then your domain should point to your 
	<a href="http://launch.deskgator.com">LaunchGator</a> page. (Depending on your registrar, it can take a while for the A record to propagate.)
	<br/><br/>
	Now What?
	<br/><br/>
	After you know your site is functioning properly, start spreading the word! We helps amplify your message, but if you don't bring some traffic to it, there is nothing to amplify. You've got some work to do!
	<br/><br/>
	Get your friends to sign up and share it, but more importantly start sending it to people and blogs you know would be interested. Some of our users have had amazing results simply sending tweets to people and blogs to check their site out.
</p>
