<!--Features Section-->
<div class="features">		
	<h1>THINGS YOU CAN DO WITH LAUNCH GATOR</h1>
	<!-- Left Img Container -->
	<div class="highlight">
		<%= image_tag "/assets/create.png", alt:"Create a page" %>
		<div class="highlight_content">
			<h1>Create &amp; Customize</h1>
			<p>Create awesome coming soon pages for your upcoming website. Log In and add your website information. Add custom colors and backgrounds that highlight your service.</p>
		</div>
	</div>
	<!-- Left Img Container Ends-->
	<!-- Left Img Container -->
	<div class="highlight">
		<div class="highlight_content">
			<h1>Share &amp; Engage</h1>
			<p>Share your landing page with your friends via social networks or emails and spread the word. Gather valuable feedback and bring your website to limelight.</p>
		</div>
		<%= image_tag "/assets/share.png", alt:"Share page" %>
	</div>
	<!-- Left Img Container Ends-->
	<!-- Right Img Container -->
	<div class="highlight">
		<%= image_tag "/assets/connect.png", alt:"Connect" %>
		<div class="highlight_content">
			<h1>Understand &amp; Connect</h1>
			<p>Understand the kind of audience that is visiting your landing page and connect with them to share and exchange valuable ideas that can be fruitful for your actual website.</p>
		</div>
	</div>
	<!-- Right Img Container Ends-->
</div>
			<!--Features Section-->